<br>
<h2 style="text-align: center;" >Admin</h2>
<br>
<br>
<br>
<hr>
<li class="btn btn-success" style="margin-left:400px ;"><a routerLink="/productList">product List</a></li>
<li class="btn btn-danger" style="margin-left:100px ;"><a routerLink="/addProductForm">New  product</a></li>
<li class="btn btn-warning" style="margin-left:100px ;"><a routerLink="/userList">Users List</a></li>
<hr>
<li class="btn btn-danger" style="margin-left:620px ;"><a routerLink="/addUserForm">New Users </a></li>
<hr>