<!-- ******************************HEADER**************************************** -->
<nav class="nav">
  <h3><a routerLink="/home">E-commerce</a></h3>
  <!-- <div class="nav-search">
    <input class="form-control mt-2" type="text" placeholder="search for Products">
  </div> -->
  <ul>
    <li style="padding-right: 25px;"><a routerLink="/home"><svg xmlns="http://www.w3.org/2000/svg" width="30"
          height="30" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
          <path
            d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z" />
          <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z" />
        </svg></a></li>
    <li style="padding-right: 25px;"><a routerLink="/user"><svg xmlns="http://www.w3.org/2000/svg" width="30"
          height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </svg></a></li>

    <li style="padding-right: 25px;"><a routerLink="/cart"><svg xmlns="http://www.w3.org/2000/svg" width="30"
          height="30" fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 16 16">
          <path
            d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z" />
        </svg></a></li>
  </ul>
</nav>
<!-- ******************************HEADER**************************************** -->


<br>
<br>



<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6" style="border:1px solid  #ddd ; "> <img
        src="{{singleProduct[0]?.product_image_url}}" style="height: 500px; width: 400px;" alt="responsive website"
        class="img-fluid"> </div>
    <div class="col-xl-6 col-lg-6 col-md-6" style="border:1px solid  #ddd">
      <h2 style="color: blue;">
        {{singleProduct[0]?.product_name}}</h2>
      <p class="card-text" style="font-weight: bold;   font-size: larger;">₹{{singleProduct[0]?.product_price}}</p>
      <p style="width: 15rem;">{{singleProduct[0]?.product_description}}</p>
      <p style="width: 15rem; color: tomato;">No. of items in stock: {{singleProduct[0]?.product_stock_quantity}}</p>

      <!-- <p class="card-price" style="color: rgb(210, 30, 30);">category:{{singleProduct[0]?.productCategory.category_name}}</p> -->
      <button class="btn btn-warning" (click)="addToCart(singleProduct[0])"
        style=" padding-left: 30px; padding-right: 30px;">Add to cart</button>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>






